---
import Layout from "@/layouts/Layout.astro";

import { getFeaturedProducts } from "@/data/products";

const featuredProducts = getFeaturedProducts();

---

<Layout titulo="Degoro — Tejidos únicos, hechos con el corazón">
  <main>
    <section>
      <div>
        <!-- Product photos -->
      </div>
      <div>
        <!-- Hover/Selected photo in Big -->
      </div>
      <div>
        <h1>Nombre</h1>
        <p>Descripcion</p>
        <!-- <Puntuacion /> -->
        <!-- <SizesTable /> -->
         <button>Añadir al carrito</button>
      </div>
    </section>
    <section>
      <!-- Reseñas -->
    </section>
  </main>
</Layout>

<style is:global>
  main {
    min-height: 100vh;
  }
</style>
