---
import "@/styles/main.css";
import Header from "@/components/Header.astro";

import Logo from "@/assets/logo.png";

interface Props {
  titulo: string;
  descripcion?: string;
}

const {
  titulo,
  descripcion = "Tienda online de ropa tradicional colombiana artesanal. Cada prenda cuenta una historia de tradición y amor por nuestra tierra."
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={descripcion}>
  <meta name="theme-color" content="#DBBA8F">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  
  <link rel="icon" href={Logo.src}>
  
  <title>{titulo}</title>
</head>
<body>
  <Header />
  <slot />
</body>
</html>
